/* @import url(../css/common/custom-scroll.css); */

@import url(../css/common/text-box.css);
@import url(../css/common/icon.css);
@import url(../css/common/button.css);
@import url(../css/common/variable.css);
@import url(../css/common/tooltip.css);
@import url(../css/common/display.css);
body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'NotoSans-Regular';
}

#app {
    display: flex;
}