/* custom-scrollbar */

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    /* top: 40px; */
    left: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #393A3D;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(172, 169, 169);
    /* border-radius: 0.4em; */
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112);
}